
<div class=" content">
   <div class=" row">
     <div class=" col-md-12">
       <div class=" card">
         <div class=" card-header">
           <h5 class=" title">Hope nothing is serious !!</h5>
           <p class=" category">
             Below is the list of your claimed sinisters.
           </p>
         </div>
         <div class=" card-body all-icons">
           <div class=" row">
             <div
               class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
             >
               <div class=" font-icon-detail">
                 <i class=" tim-icons icon-alert-circle-exc"> </i>
                 <p>icon-alert-circle-exc</p>
                  <button >Details </button>
                  <button >Remove</button>
               </div>
            </div>
            </div>
            </div>
         </div>
       </div>
     </div>
   </div>
 